<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsSiteMapper">
    <!--<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>-->
    <sql id="baseColumn">
        id,
        site_name,
        keywords,
        description,
        static_dir,
        static_suffix,
        is_static_index,
        tmpl_path
    </sql>
    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsSiteEntity">
        <id property="id" column="id"/>
        <result property="description" column="description"/>
        <result property="keywords" column="keywords"/>
        <result property="siteName" column="site_name"/>
        <result property="staticDir" column="static_dir"/>
        <result property="staticSuffix" column="static_suffix"/>
        <result property="staticIndex" column="is_static_index"/>
        <result property="tmplPath" column="tmpl_path"/>
    </resultMap>
    <select id="selectById" useCache="true" resultMap="baseResultMap">
        select <include refid="baseColumn"></include>
        from cms_site
        where id=#{id}
    </select>
    <insert id="save">
        insert into cms_site(
        create_time,
        keywords,
        description,
        static_dir,
        static_suffix,
        is_static_index,
        tmpl_path
        ) values (
        #{createTime},
        #{keywords},
        #{description},
        #{staticDir},
        #{staticSuffix},
        #{staticIndex},
        #{tmplPath})
    </insert>
    <sql id="updateField">
        update_time = #{updateTime},
        <if test="siteName!=null and siteName!=''">
            site_name = #{siteName},
        </if>
        <if test="keywords != null and keywords != ''">
            keywords = #{keywords},
        </if>
        <if test="description!=null and description!=''">
            description = #{description},
        </if>
        <if test="staticDir!=null and staticDir!=''">
            static_dir = #{staticDir},
        </if>
        <if test="staticSuffix!=null">
            static_suffix = #{staticSuffix},
        </if>
        <if test="staticIndex!=null">
            is_static_index = #{staticIndex},
        </if>
        <if test="tmplPath!=null and tmplPath!=''">
            tmpl_path = #{tmplPath},
        </if>
    </sql>
    <update id="update" flushCache="true">
        update cms_site
        <trim prefix="set" suffixOverrides=",">
            <include refid="updateField"></include>
        </trim>
        where id = #{id}
    </update>
</mapper>