<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsUserRoleMapper">


    <insert id="save">
        insert into cms_user_role (user_id,role_id) values (#{userId},#{roleId})
    </insert>

    <delete id="deleteByUserId">
        delete from cms_user_role where user_id = #{userId}
    </delete>

    <select id="getByUserId" resultType="java.lang.Integer">
        select role_id
        from cms_user_role
        where user_id = #{userId}
    </select>

</mapper>