<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd  http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置datasource-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--配置初始化大小-->
        <property name="initialSize" value="${datasource.initialSize}"/>
        <property name="minIdle" value="${datasource.minIdle}"/>
        <property name="maxActive" value="${datasource.maxActive}"/>
        <!--获取连接等待超时的时间-->
        <property name="maxWait" value="${datasource.maxWait}"/>
        <!--配置多久进行一次检测 检查关闭空闲的连接 单位是毫秒-->
        <property name="timeBetweenEvictionRunsMillis" value="${datasource.timeBetweenEvictionRunsMillis}"/>
        <!--配置一个连接池中最小生存时间  单位毫秒-->
        <property name="minEvictableIdleTimeMillis" value="${datasource.minEvictableIdleTimeMillis}"/>
        <property name="validationQuery" value="${datasource.validationQuery}"/>
        <property name="testWhileIdle" value="${datasource.testWhileIdle}"/>
        <property name="testOnBorrow" value="${datasource.testOnBorrow}"/>
        <property name="testOnReturn" value="${datasource.testOnReturn}"/>
        <!--打开pscache 并且指定每个连接上pscache的大小-->
        <property name="poolPreparedStatements" value="${datasource.poolPreparedStatements}"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="${datasource.maxPoolPreparedStatementPerConnectionSize}"/>
        <!--开启druid的监控统计功能 stateFilter可以和其他filter配置使用-->
        <property name="filters" value="${datasource.filters}"/>
        <!--通过connectProperties属性打开mergesql功能 慢sql记录-->
        <property name="connectProperties" value="${datasource.connectProperties}"/>
        <!--合并多个druiddatasource的监控数据-->
        <property name="useGlobalDataSourceStat" value="${datasource.useGlobalDataSourceStat}"/>
        <!--监控统计拦截的filter-->
        <property name="proxyFilters">
            <list>
                <ref bean="stat-filter"/>
            </list>
        </property>
    </bean>

    <!--配置sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--mapper.xml的位置-->
        <property name="mapperLocations">
            <array>
                <value>classpath*:com/cms/dao/mapper/mappers/**.xml</value>
            </array>
        </property>
        <property name="configuration">
            <bean class="org.apache.ibatis.session.Configuration">
                <property name="mapUnderscoreToCamelCase" value="true"/>
                <!--数据库超过25000秒未响应则超时-->
                <property name="defaultStatementTimeout" value="25000"/>
                <!--开启缓存支持-->
                <property name="cacheEnabled" value="true"/>
                <!--在mybatis实现懒加载 两个开关都要设置-->
                <property name="lazyLoadingEnabled" value="true"/>
                <property name="aggressiveLazyLoading" value="false"/>
                <!--可以阻挡不相干操作触发 实现懒加载-->
                <property name="lazyLoadTriggerMethods" value=""/>
            </bean>
        </property>
        <property name="plugins">
            <array>
                <!--分页插件-->
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <props>
                            <prop key="helperDialect">mysql</prop>
                            <prop key="reasonable">true</prop>
                        </props>
                    </property>
                </bean>
                <bean class="com.cms.context.intercepter.BaseIntercepter"/>
            </array>
        </property>
    </bean>

    <!--mapper扫描接口-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.cms.dao.mapper"/>
    </bean>

    <!--事务管理器-->
    <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
        <property name="rollbackOnCommitFailure" value="true"/>
    </bean>

    <!--使用@Transactional进行声明式事务管理-->
    <tx:annotation-driven proxy-target-class="true" transaction-manager="dataSourceTransactionManager"/>

    <!--慢sql记录-->
    <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
        <property name="mergeSql" value="true"/>
        <property name="slowSqlMillis" value="10000"/>
        <property name="logSlowSql" value="true"/>
    </bean>



</beans>